
@{
    ViewBag.Title = "YeniSinav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>ÖĞRENCİ ID</label>
        <input type="text" class="form-control" name="OGRID" />
    </div>
    <br />
    <div>
        <label>DERS AD</label>
        <input class="form-control" type="text" name="DERSID" />
    </div>
    <br />
    <div>
        <label>SINAV 1</label>
        <input class="form-control" type="text" name="SINAV1" />
    </div>
    <br />
    <div>
        <label>SINAV 2</label>
        <input class="form-control" type="text" name="SINAV2" />
    </div>
    <br />
    <div>
        <label>SINAV 3</label>
        <input class="form-control" type="text" name="SINAV3" />
    </div>
    <br />
    <div>
        <label>PROJE</label>
        <input class="form-control" type="text" name="PROJE" />
    </div>
    <br /><div>
        <label>ORTALAMA</label>
        <input class="form-control" type="text" name="ORTALAMA" />
    </div>
    <br /><div>
        <label>DURUM</label>
        <input class="form-control" type="text" name="DURUM" />
    </div>
    <br />
    
    <div>
        <button class="btn btn-success">KAYDET</button>
    </div>
</form>